.gcloudignore
.git
.gitignore
node_modules/
test/
.env
.env.*
*.log
credentials/
secrets/
*service-account*.json
*service_account*.json
*credentials*.json
client_secret*.json
*.pem
*.key
.firebase/
emulator-data/
emulator/

# Sensitive credential JSON files and local emulator exports.
credentials/
secrets/
emulator-data/
*[Cc]lient[_-][Ss]ecret*.json
*[Cc]lient[Ss]ecret*.json
*[Ss]ervice[_-][Aa]ccount*.json
*[Ss]ervice[Aa]ccount*.json
[Tt]okens.json
[Tt]okens[_-]*.json
*[Rr]efresh[_-][Tt]oken*.json
*[Rr]efresh[Tt]oken*.json
*[Aa]ccess[_-][Tt]oken*.json
*[Aa]ccess[Tt]oken*.json
*.[pP]12
*.[pP][fF][xX]
